---
const { titulo } = Astro.props
---
<div class="feature flex flex-col gap-4">
    <div class="content text-center">
      <h3 class="text-pageText font-bold">{titulo}</h3>
      <p class="text-pageText">
        <slot>Conócenos un poco más.</slot>
      </p>
    </div>
  </div>
  
  <style>
    .feature {
      position: relative;
      width: calc(100% - 10rem);
      padding: 2rem;
      inset: 0;
      border-radius: 1rem;
      z-index: 1;
      background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,187,17,1) 100%);
    }
  </style>
  