---
import Social from './Social.astro';
---
<footer class="flex justify-around items-center gap-4 mt-8 pt-4">
  <div class="flex items-start gap-4">
    <a href=`https://www.instagram.com/orquesta_fplb` target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
        <img src='/img/instagram.png' alt="Instagram" class=""  />
        <span class="text-pageText">Instagram</span> 
    </a>
    <a href={`https://www.whatsapp.com/+56945552433`} target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
        <img src='/img/wsp.png' alt="Whatsapp" class=""  />
        <span class="text-pageText">Whatsapp</span> 
    </a>
    <a href={`https://www.gmail.com/orquesta_fplb`} target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
        <img src='/img/mail.png' alt="Mail" class="size-12"  />
        <span class="text-pageText">Email</span> 
    </a>
  </div>
  <div>
    <span class="text-pageText">Desarrollado por <a href=`https://github.com/katiaVelDev` target="_blank" rel="noopener noreferrer">@katiaVelDev</a></span>
  </div>
</footer>

<style>
    footer {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,41,107,1) 100%);
    }
</style>
