<header>
    <nav class="flex justify-between lg:px-4 py-1 " >
      <div class="flex items-center lg:flex-1">
        <a href="#" class="flex item-center">
          <img class="size-24 mt-2" src="/OSFPLB/img/logo.png" alt="">
        </a>
      </div>
      <div class="flex space-x-6 items-center justify-end lg:flex-1">
        <a href="#" class="text-sm font-semibold leading-6 text-pageText transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:underline hover:font-bold hover:text-hoverText duration-150">Nuestra historia</a>
        <a href="#" class="text-sm font-semibold leading-6 text-pageText transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:underline hover:font-bold hover:text-hoverText duration-150">Instrumentos</a>
        <a href="#" class="text-sm font-semibold leading-6 text-pageText transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:underline hover:font-bold hover:text-hoverText duration-150">Profesores</a>
        <a href="#" class="text-sm font-semibold leading-6 text-pageText transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:underline hover:font-bold hover:text-hoverText duration-150">Noticias</a>
        <a href="#" class="text-sm font-semibold leading-6 text-pageText transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:underline hover:font-bold hover:text-hoverText duration-150">Contacto</a>
      </div>
    </nav>
  </header>
  