---
const { src = '/img/hero.png' } = Astro.props

---

<section class="my-12">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-center text-6xl md:text-left lg:text-8xl text-pageText ml-4 text-balance">
            Orquesta sinfónica Fidel Pinochet Le-Brun
          </h1>
        </div>
        <img class="min-w-full" src={src} alt="imágenes de la orquesta" />
      </div>
    </div>
  </section>
